<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <h1 th:text="${title}">Event name</h1>
    <p th:text="${location.name}">Location name</p>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Time</th>
            <th:block th:each="room : ${rooms}">
                <th th:text="${room.name}">Room name</th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="slot : ${slots}">
            <td th:text="${slot.datetime}">12:00</td>
            <th:block th:each="roomModel : ${slot.roomModels}">
                <td th:with="talk=${roomModel.talk}">
                    <div th:if="${talk != null}">
                        <a th:href="@{'/talks/' + ${talk.numericId()}}" th:text="${talk.title}">Talk title</a>
                        (<div th:text="${talk.language.name}" th:remove="tag">english</div>,
                        <div th:text="${talk.level.name}" th:remove="tag">advanced</div>)
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>


</div>
<!-- /.container -->

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>
