<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <h1 th:text="${title}">Events</h1>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Talks</th>
            <th>Languages</th>
            <th>Topics</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eventModel : ${eventModels}" th:with="event=${eventModel.event}">
            <td><a th:href="@{'/events/' + ${event.numericId()}}" th:text="${event.name}">Event name</a></td>
            <td th:text="${event.location.name}">Event location</td>
            <td th:text="${event.startDate}">Start date</td>
            <td th:text="${event.endDate}">End date</td>
            <td th:text="${eventModel.talkCount}">Languages</td>
            <td>
                <ul th:each="language : ${eventModel.languages}">
                    <li th:text="${language.name}">language</li>
                </ul>
            </td>
            <td>
                <ul th:each="topic : ${eventModel.topics}">
                    <li th:text="${topic.name}">topic</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div lang="en" th:include="fragments/footer :: footer"/>

</body>
</html>
