<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="${title}">Events</h1>
        <table>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Start date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <td><a th:href="@{'/events/' + ${event.numericId()}}" th:text="${event.name}">Event name</a></td>
                    <td th:text="${event.location.name}">Event location</td>
                    <td th:text="${event.startDate}">Start date</td>
                    <td th:text="${event.endDate}">End date</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div lang="en" th:include="fragments/footer :: footer"/>

</body>
</html>
