<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="${title}">Event name</h1>
        <p th:text="${location.name}">Location name</p>

        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th:block th:each="room : ${rooms}">
                        <th th:text="${room.name}">Room name</th>
                    </th:block>
                </tr>
            </thead>
            <tbody>
                <tr th:each="slot : ${slots}">
                    <td th:text="${slot.datetime}">12:00</td>
                    <th:block th:each="roomModel : ${slot.roomModels}">
                        <td>
                            <th:if="${roomModel.talk != null}">
                                <a th:href="@{'/talks/' + ${roomModel.talk?._id}}" th:text="${roomModel.talk?.title}">Talk title</a>
                            </th:if>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>

    </div>

</div>
<!-- /.container -->

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>
