<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <h1 th:text="${title}">Talk title</h1>

    <ul th:each="person : ${persons}">
        <li>
            <a th:href="@{'/persons/' + ${person.numericId()}}" th:text="${person.name}">Talk name</a>
            (<div th:text="${person.organization.name}" th:remove="tag">Organization name</div>)
        </li>
    </ul>

</div>

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>
