<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <h1 th:text="${title}">Talk title</h1>

    <h2>Persons</h2>
    <ul th:each="person : ${talk.getPersons()}">
        <li><a th:href="@{'/persons/' + ${person.numericId()}}" th:text="${person.name}"/></li>
    </ul>

    <h2>Events</h2>
    <ul th:each="slot : ${talk.getSlots()}">
        <li>
            <a th:href="@{'/events/' + ${slot.event.numericId()}}"
               th:text="${slot.event.name} + ' @ ' + ${slot.datetime}"/>
        </li>
    </ul>

    <h2>Language</h2>
    <p th:text="${talk.language.name}">Language</p>

    <h2>Topics</h2>
    <ul th:each="topic : ${talk.topics}">
        <li><a th:href="@{'/topics/' + ${topic.numericId()}}" th:text="${topic.name}">Topic</a></li>
    </ul>

    <h2>Level</h2>
    <p th:text="${talk.level.name}">english</p>

</div>

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>
