<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"/>
<body>

<nav th:replace="fragments/navigation :: navigation"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="${title}">Talk title</h1>
        <h2>Persons</h2>
        <ul th:each="person : ${talk.getPersons()}">
            <li><a th:href="@{'/persons/' + ${person.numericId()}}" th:text="${person.name}"/></li>
        </ul>
        <h2>Events</h2>
        <ul th:each="slot : ${talk.getSlots()}">
            <li>
                <a th:href="@{'/events/' + ${slot.event.numericId()}}" th:text="${slot.event.name} + ' @ ' + ${slot.datetime}"/>
            </li>
        </ul>
    </div>

</div>

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>
